## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/*.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.rsuser
*.sln.docstates
[Tt]est[Rr]esult*/
[Dd]ebugPS/
*.VisualState.xml
TestResult.xml

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## JetBrains
*.DotSettings.user

## OS
[Tt]humbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
